extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/layers.css")
  link(rel="stylesheet", href="/stylesheets/bootstrap-slider.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script(src="/javascripts/js/bootstrap-slider.js")
  script.
  
  .container(style = "margin-top: 10px; margin-left: 0; width: 100vw;").spacing-large
    .container
      .row.spacing-large
        h1.center Layers

      .row.spacing-large
        .col-md-6.col-md-offset-3
          p.text-center Info about layers & what they represent. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      .row.text-center
        span.glyphicon.glyphicon-triangle-bottom &#xe114;
        br
        span.glyphicon.glyphicon-triangle-bottom &#xe114;
        br
        span.glyphicon.glyphicon-triangle-bottom &#xe114;


    .row
      if datafiles.length == 0
        p.text-center.spacing-large(role='alert' style = "margin-top:20px" ) No datafiles found  &nbsp;
        <br>
        div.text-center
          a(href = "/upload")
            btn.btn-gray.btn-jumbotron.strong(style="width: 150px; height: 150px; line-height: 150px;") Upload a datafile

      if datafiles.length != 0
        .row
          .col-md-4
          .col-md-4(style="padding: 30px;")
            .row.text-center
                h3.spacing Compute voxels for a set of layers by selecting them below. Click on the layer again to deselect.
            .row
              form(method='post', action='/layers')
                input.pull-right.form-control.form-input-line(type='text', name= 'voxelname', placeholder='Voxel name...')
                input.form-control.hidden(style="width: 100%", name = "datalayerIds" ,id="selectedLayers", type='hidden', placeholder='Jane Doe')
                <br>
                .row.spacing-large
                  .col-md-3
                    p.sans(style="font-size: 11pt; display: inline; vertical-align: middle; line-height: 20px; padding-right: 10px;") Density
                  .col-md-9
                    p.sans(style="font-size: 11pt; display: inline; vertical-align: middle; line-height: 20px; padding-right: 10px;")   10000 
                    input.slider(style="display: inline-block; vertical-align: middle;" data-slider-handle="round", name='voxelDensity', data-slider-min='10000', data-slider-max='60000', data-slider-value='40000')
                    p.sans(style="font-size: 11pt; display: inline; vertical-align: middle; line-height: 20px; padding-left: 10px;")     60000 
                <br>
                .row.spacing
                  .input-group-btn.text-center
                    button.btn.btn-gray.btn-jumbotron(type='submit') Compute
      .row.text-center
        span.glyphicon.glyphicon-triangle-bottom &#xe114;
        br
        span.glyphicon.glyphicon-triangle-bottom &#xe114;
        br
        span.glyphicon.glyphicon-triangle-bottom &#xe114;
      
      div.spacing-large

  .container
      .row
      for datafile in datafiles
        if datafile.Datalayers[0]
          .col-sm-6.col-md-4
            .thumbnail.datalayer(selected = "false", style="z-index: 1;")
              .caption.text-center
                .layername
                  h3(style="font-weight: 600; text-transform: uppercase;") #{datafile.Datalayers[0].userLayerName}
                div(style="border-top: 1px solid black; height: 3px; width: 70%; margin-left: 15%; display: block; padding-bottom: 20px;")
              div(id="map_#{datafile.id}", class = "leafletMap", style="width: 90%; height: 300px; margin:0 auto;")
              .caption(style="padding-left: 5%;")
                  .layername
                    br
                    label.layer-label Layer Name
                    p(display='inline').label-body #{datafile.Datalayers[0].layername}
                  .property
                    label.layer-label Data Property
                    p.label-body #{datafile.Datalayers[0].rasterProperty}
                  if datafile.Datalayers[0].location.length > 0
                    .location
                      label.layer-label Layer Location
                      p.label-body #{datafile.Datalayers[0].location}
              p.label-body.text-center
                a.modal-button.btn(id="modal-toggle" data-toggle="modal" data-target="#mapView_#{datafile.id}" data-map-id="#{datafile.id}") View Layer

          div.modal.fade.bs-example-modal-lg(id="mapView_#{datafile.id}" tabindex="-1" role="dialog" data-backdrop="false" data-container="body" aria-labelledby="gridSystemModalLabel", style="z-index: 10000;")
            div.modal-dialog.modal-lg(role="document")
              div.modal-content(style="z-index: 10000!important;")
                div.modal-header
                  button(type="button" class="close" data-dismiss="modal" data-map-id="#{datafile.id}" aria-label="Close")<span aria-hidden="true">&times;</span></button>
                  .row.spacing
                    h1.center #{datafile.Datalayers[0].userLayerName}
                div.modal-body
                  .row
                    .col-md-6
                      script.
                        var id = #{datafile.id};
                      div(id="map_thumbnail_#{datafile.id}", style="width: 400px; height: 400px; margin:0 auto;").spacing
                    .col-md-6
                      label.layer-label Layer Name
                        p(display='inline').label-body #{datafile.Datalayers[0].layername}
                      .property
                        label.layer-label EPSG Code
                          p.label-body #{datafile.Datalayers[0].epsg}
                      if datafile.Datalayers[0].description.length > 0
                        .description
                          label.layer-label Layer Description
                          p.label-body #{datafile.Datalayers[0].description}
                      label.layer-label Uploaded On
                        p.label-body #{datafile.Datalayers[0].createdAt.toUTCString()}
    
  script.
    var mySlider = $("input.slider").bootstrapSlider();
    var value = mySlider.bootstrapSlider('getValue');

    // For non-getter methods, you can chain together commands
    //- mySlider
    //-     .bootstrapSlider('setValue', 5)
    //-     .bootstrapSlider('setValue', 7);

  script(src="/javascripts/map_thumbnail_viewer.js")
  script(src="/javascripts/user_layer.js")
  // script(src="/javascripts/layer_viewer.js") 
    