extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/layers.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script.

  
  .container(style = "margin-top: 10px").spacing-large
    .row.spacing-large
        h1.center Layers

    .row
      if datafiles.length == 0
        p.text-center.spacing-large(role='alert' style = "margin-top:20px" ) No datafiles found  &nbsp;
        <br>
        div.text-center
          a(href = "/upload")
            btn.btn-gray.btn-jumbotron.strong(style="width: 150px; height: 150px; line-height: 150px;") Upload a datafile

      if datafiles.length != 0
        .row
          .col-md-3
          .col-md-6(style="padding: 30px;")
            .row
                h3.spacing Compute voxels for a set of layers by selecting them below.
            .row
              form(method='post', action='/layers')
                input.pull-right.form-control.form-input-line(type='text', name= 'voxelname', placeholder='Voxel name...')
                input.form-control.hidden(style="width: 100%", name = "datalayerIds" ,id="selectedLayers", type='hidden', placeholder='Jane Doe')
                <br>
                .row.spacing-large
                  .input-group-btn.text-center
                    button.btn.btn-gray.btn-jumbotron(type='submit') Compute
              
      .row
      for datafile in datafiles
        if datafile.Datalayers[0]
          .col-sm-6.col-md-4
            .thumbnail.datalayer(selected = "false", style="z-index: 1;")
              .caption.text-center
                .layername
                  h3(style="font-weight: 600;") #{datafile.Datalayers[0].userLayerName}
                div(style="border-top: 1px solid black; height: 3px; width: 70%; margin-left: 15%; display: block; padding-bottom: 20px;")
              div(id="map_#{datafile.id}", class = "leafletMap", style="width: 90%; height: 300px; margin:0 auto;")
              .caption
                  .layername
                    br
                    label.layer-label Layer Name
                    p(display='inline').label-body #{datafile.Datalayers[0].layername}
                  .property
                    label.layer-label Data Property
                    p.label-body #{datafile.Datalayers[0].rasterProperty}
                  .epsg
                    label.layer-label EPSG Code
                    p.label-body #{datafile.Datalayers[0].epsg}
                  if datafile.Datalayers[0].description.length > 0
                    .description
                      label.layer-label Layer Description
                      p.label-body #{datafile.Datalayers[0].description}
                  if datafile.Datalayers[0].location.length > 0
                    .location
                      label.layer-label Layer Location
                      p.label-body #{datafile.Datalayers[0].location}
                  p.label-body.text-right.spacing
                    a.btn.btn-gray.btn-jumbotron.btn-block(data-toggle="modal" data-target="#mapView" data-map-id="#{datafile.id}") View Map

                  div.modal.fade.bs-example-modal-lg(id="mapView" tabindex="-1" role="dialog" data-backdrop="false" data-container="body" aria-labelledby="gridSystemModalLabel", style="z-index: 10000;")
                    div.modal-dialog.modal-lg(role="document")
                      div.modal-content(style="z-index: 10000!important;")
                        div.modal-header
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          .row.spacing-large
                            h1.center #{datafile.Datalayers[0].userLayerName}
                        div.modal-body
                          .row
                            .col-md-6
                              script.
                                var id = #{datafile.id};
                              div(id="map_thumbnail_#{datafile.id}", style="width: 300px; height: 300px; margin:0 auto;").spacing-large

                            .col-md-6
                              label.layer-label Layer Name
                                p(display='inline').label-body #{datafile.Datalayers[0].layername}
    
  script.
    $('#mapView').on('hidden.bs.modal', function () {
      
    })
  script(src="/javascripts/map_thumbnail_viewer.js")
  script(src="/javascripts/user_layer.js")
  // script(src="/javascripts/layer_viewer.js") 
    