extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script.

  
  .container(style = "margin-top: 50px").spacing-large
    .row.spacing-large
      h1.center Layers
    .row
      if datafiles.length == 0
        .alert.alert-info(role='alert' style = "margin-top:20px" ) No Datafiles Found  &nbsp; 
          a(href = "/upload")
            strong upload a datafile
      for datafile in datafiles
        .col-sm-4.col-md-4.datalayer(selected = "false" style = "margin-top:20px")
          .post
            .post-img-content
              div(id="map_#{datafile.id}", class = "leafletMap", style="width: 370px; height: 300px; margin:0 auto;")
              span.post-title
              .layername
                label Layer Name: 
                p(display='inline') #{datafile.Datalayers[0].layername}
                .property
                  label Data Property:
                  p #{datafile.Datalayers[0].rasterProperty}
                .epsg
                  label EPSG Code:
                  p #{datafile.Datalayers[0].epsg}
                .description
                  label Layer Description:
                  p #{datafile.Datalayers[0].description}
                .location
                  label Layer Location: 
                  p #{datafile.Datalayers[0].location}
                div
                  a.btn.btn-mapviewer.btn-sm(href='/uploadViewer/#{datafile.Datalayers[0].datafileId}') View Map

    .row.spacing-large
      .col-md-4.col-md-offset-4
        form(method='post', action='/layers')
          .form-group
            h3.
              Voxel Name
            input(type="voxelname", id="voxelname", class="form-control input-sm chat-input", name="voxelname")
            input.form-control(name = "datalayerIds" ,id="selectedLayers", type='hidden', placeholder='Jane Doe')
            .row.spacing-small
              button.btn.btn-gray.btn-lg.btn-voxel(type='submit') Compute <br>Voxels

   script(src="/javascripts/user_layer.js")
    
    
            
     
      