extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/layers.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/voxels.js")
  script(src="/javascripts/layers.js")
  script.

    
  .container.body-container
    .row.spacing-large
      .col-md-9
        h1 My Voxel Projects

    if (voxelAlert)
      .alert.alert-danger(role='alert') #{voxelAlert}

    .col-md-12.space-row
      if datavoxels.length != 0
        .row
            h4.spacing To open a voxel, first select it from the library below.
        .row
          form(method='post', action='/voxels')
            .input-group-btn
              .col-md-2
                button.btn.btn-outline-primary(type='submit', name="layerButton", value="open", formaction="/voxels") Open Voxel
              .col-md-2
                button.btn.btn-outline-primary(type='submit', name="layerButton", value="delete", formaction="/voxels") Delete Voxel
              input.form-control.hidden(style="width: 100%", name = "datavoxelIds" ,id="selectedLayers", type='hidden')


    .spacing-large
      .col-md-12
        if datavoxels.length == 0
          p(role='alert') No voxel projects found  &nbsp;
          div
            a(href = "/layers/{datavoxel.userId}")
              btn.btn.btn-outline-primary Build a voxel project!

      for datavoxel in datavoxels
        if datavoxel.id
          .col-sm-6.col-md-4
            //- this is where i need to add the form stuff
            .thumbnail.datavoxel(selected = "false", id="datavoxel_#{datavoxel.id}", style="z-index: 1;")
              .caption.text-center
                .layername
                  h3 #{datavoxel.voxelname}
                
                  if (datavoxel.voxelname.length <= 0)
                    h3 Layer
                  div(style="border-top: 1px solid black; height: 3px; width: 70%; margin-left: 15%; display: block; padding-bottom: 20px;")
              div(id="map_#{datavoxel.id}", class = "leafletMap", style="width: 90%; height: 300px; margin:0 auto;")
              .caption(style="padding-left: 5%;")
                .layername.spacing
                  .datalayers
                  if datavoxel.Datafiles.length > 0
                    -var index = 1
                    label.layer-label Layers in Voxel

                    for datafile in datavoxel.Datafiles
                      hr
                      label Layer #{index++}
                      br
                      p.label-body File Name
                        label.layer-label.voxel-label #{datafile.Datalayers[0].layername}
                        if datavoxel.public
                          input(type='checkbox', class='public', id=datavoxel.id, checked=true)
                          span Public
                        else
                          input(type='checkbox', class='public', id=datavoxel.id, checked=false)
                          span Public

                      p.label-body User Layer Name
                        label.layer-label.voxel-label #{datafile.Datalayers[0].userLayerName}

                      p.label-body Layer Data Properties
                        for datajson in datavoxel.Datajsons
                          if datajson.datafileId == datafile.id
                            label.layer-label.voxel-label #{  datajson.rasterProperty  }                        

                      p.label-body.text-right
                        a.btn.btn-gray.btn-jumbotron.btn-block(data-toggle="modal" data-target="#mapView_#{datafile.id}" data-map-id="#{datafile.id}") View Layer

                      div.modal.fade.bs-example-modal-lg(id="mapView_#{datafile.id}" tabindex="-1" role="dialog" data-backdrop="false" data-container="body" aria-labelledby="gridSystemModalLabel", style="z-index: 10000;")
                          div.modal-dialog.modal-lg(role="document")
                            div.modal-content(style="z-index: 10000!important;")
                              div.modal-header
                                button(type="button" class="close" data-dismiss="modal" data-map-id="#{datafile.id}" aria-label="Close")<span aria-hidden="true">&times;</span></button>
                                .row.spacing-large
                                  h1.center #{datafile.Datalayers[0].userLayerName}
                              div.modal-body
                                .row
                                  .col-md-6
                                    script.
                                      var id = #{datafile.id};
                                    div(id="map_thumbnail_#{datafile.id}", style="width: 400px; height: 400px; margin:0 auto;").spacing-large
                                  .col-md-6
                                    label.layer-label Layer Name
                                      p(display='inline').label-body #{datafile.Datalayers[0].layername}
                                    .property
                                      label.layer-label EPSG Code
                                        p.label-body #{datafile.Datalayers[0].epsg}
                                    label.layer-label Upload Date
                                      p.label-body #{datafile.Datalayers[0].createdAt}

        script.
          var data = !{JSON.stringify(datavoxel)};
          renderMap(document.getElementById("map_#{datavoxel.id}"), data);

  script(src="/javascripts/map_thumbnail_viewer.js")
  script(src="/javascripts/voxels-select.js")
  