extends layout

block pageTitle
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/layers.css")
  script(src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js")
  script(src="/javascripts/js/layers.js")
  script.

    
  .container(style = "margin-top: 10px").spacing-large
    .row.spacing-large
        h1.center Voxels

    .col-md-6(style="padding: 30px;").col-md-offset-3
      if datavoxels.length != 0
        .row.text-center
          h3.spacing Open voxel by selecting one below.
        .row.spacing.text-center
          button.btn.btn-gray.btn-jumbotron#openVoxel(style="width: 100px; height: 100px; line-height: 90px;") Open Voxels

    .row
      if datavoxels.length == 0
        p.text-center.spacing-large(role='alert' style = "margin-top:20px" ) No datafiles found  &nbsp;
        <br>
        div.text-center
          a(href = "/layers/{datavoxel.userId}")
            btn.btn-gray.btn-jumbotron.strong(style="width: 150px; height: 150px; line-height: 150px;") Build a datavoxel!

      for datavoxel in datavoxels
        if datavoxel.id
          .col-sm-6.col-md-4
            .thumbnail.datavoxel(selected = "false", id="datavoxel_#{datavoxel.id}")
              div(id="map_#{datavoxel.id}", class = "leafletMap", style="width: 100%; height: 300px; margin:0 auto;")
              .caption
                .layername.spacing
                  h3 #{datavoxel.voxelname}
                  .datalayers
                  if datavoxel.Datafiles.length > 0
                    -var index = 1
                    label.layer-label Layers in Voxel
                    for datafile in datavoxel.Datafiles
                      hr
                      label Layer #{index++}
                      br
                      p.label-body File Name
                      label.layer-label.voxel-label #{datafile.Datalayers[0].layername}
                      br
                      p.label-body Layer Data Property
                      label.layer-label.voxel-label #{datafile.Datalayers[0].rasterProperty}
  script(src="/javascripts/js/voxels.js")